<div class="d-flex flex-column justify-center align-center">
    <MudText Typo="Typo.h1" Align="Align.Center" Class="ma-4">Darkness</MudText>

    <MudText Align="Align.Center" Class="ma-2">A maze game where you don't actually see the entire maze</MudText>

    <div class="d-flex justify-between align-content-stretch">
        <MudButton Class="ma-4" Variant="Variant.Filled" DisableElevation="true" Size="Size.Large"
                   Color="Color.Primary" @onclick="this.OnPlayCallback">
            Play
        </MudButton>

        <MudButton Class="ma-4" Variant="Variant.Filled" DisableElevation="true" Size="Size.Large"
                   @onclick="this.OnSettingsCallback">
            Settings
        </MudButton>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback OnPlayCallback { get; set; }

    [Parameter]
    public EventCallback OnSettingsCallback { get; set; }
}
