@page "/"
@page "/index.html"

@inject INavigator Navigator

<div class="container">
    <MudText Typo="Typo.h1" Align="Align.Center">Darkness</MudText>

    <MudText Align="Align.Center" Class="subtitle">A maze game where you don't actually see the entire maze</MudText>

    <div class="action-container">
        <MudButton Variant="Variant.Filled" DisableElevation="true" Size="Size.Large" Color="Color.Primary"
                   @onclick="async () => await this.Navigator.GoToMazePage()">
            Play
        </MudButton>

        <MudButton Variant="Variant.Filled" DisableElevation="true" Size="Size.Large"
                   @onclick="async () => await this.Navigator.GoToSettingsPage()">
            Settings
        </MudButton>
    </div>
</div>
