<div style=@($"max-width: {this.MazeWidth}vh; height: {this.MazeHeight}vw; background-color: {Colors.Grey.Darken4}")
     class="maze-wrapper">
    @foreach (var cell in this.VisibleCells)
    {
        <MazeCell Cell="cell" Width="this.CellWidth" Height="this.CellHeight" IsPartial="false"
                  Direction="Equals(cell, this.CurrentCell) ? this.CurrentDirection : null"
                  IsStart="Equals(cell, this.Maze.Start)" IsFinish="Equals(cell, this.Maze.Finish)"
                  RenderWalls="true" />
    }

    @foreach (var cell in this.PartiallyVisibleCells)
    {
        <MazeCell Cell="cell" Width="this.CellWidth" Height="this.CellHeight" IsPartial="true"
                  Direction="null" IsStart="false" IsFinish="false" RenderWalls="false" />
    }

    @foreach (var (cell, delay) in this.AnimatingCells)
    {
        <MazeCell Cell="cell" Width="this.CellWidth" Height="this.CellHeight" IsPartial="false" Direction="null"
                  IsStart="Equals(cell, this.Maze.Start)" IsFinish="false" RenderWalls="true" AnimationDelay="delay" />
    }

    @if (this.Settings.AlwaysShowFinish && !this.VisibleCells.Contains(this.Maze.Finish))
    {
        <MazeCell Cell="this.Maze.Finish" Width="this.CellWidth" Height="this.CellHeight" IsPartial="false"
                  Direction="null" IsStart="false" IsFinish="true" RenderWalls="false" />
    }
</div>

<div class="maze-controls d-flex flex-row justify-content-center align-center">
    <div @onmouseup="() => this.Move(PlayerDirection.Up)" class="cursor-pointer">
        <i class="fas fa-3x fa-chevron-circle-up h-100" aria-label="up"></i>
    </div>

    <div @onmouseup="() => this.Move(PlayerDirection.Down)" class="cursor-pointer mx-4">
        <i class="fas fa-3x fa-chevron-circle-down h-100" aria-label="down"></i>
    </div>

    <div @onmouseup="() => this.Move(PlayerDirection.Left)" class="cursor-pointer mx-4">
        <i class="fas fa-3x fa-chevron-circle-left h-100" aria-label="left"></i>
    </div>

    <div @onmouseup="() => this.Move(PlayerDirection.Right)" class="cursor-pointer">
        <i class="fas fa-3x fa-chevron-circle-right h-100" aria-label="right"></i>
    </div>
</div>
