<div class="d-flex flex-column align-self-stretch w-100">
    <div class="d-flex flex-row justify-space-between pa-4 w-100">
        <div class="row-side">
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" StartIcon="@Icons.Material.ArrowBack"
                       @onclick="this.BackToMainMenu">
                Go Back
            </MudButton>
        </div>

        <MudText Typo="Typo.h5">Darkness</MudText>

        <div class="row-side"></div>
    </div>

    <div @ref="this.MazeWrapper" @onkeydown="this.OnKeyDown" tabindex="0"
         class="d-flex flex-column justify-center align-center align-self-stretch flex-grow-1 w-100 pa-4 no-focus">
        @if (this.IsLoaded)
        {
            <div class="maze-wrapper"
                 style=@($"max-width: {this.MazeWidth}vh; height: {this.MazeHeight}vw; " +
                         $"background-color: {Colors.Grey.Darken4}")>
                @foreach (var cell in this.VisibleCells)
                {
                    <MazeCell X="cell.Location.Column * this.CellWidth" Y="cell.Location.Row * this.CellHeight"
                              Width="this.CellWidth" Height="this.CellHeight" IsPartial="false"
                              Direction="cell == this.CurrentCell ? this.CurrentDirection : null"
                              IsFinish="cell == this.Maze.Finish" />
                }

                @foreach (var cell in this.PartiallyVisibleCells)
                {
                    <MazeCell X="cell.Location.Column * this.CellWidth" Y="cell.Location.Row * this.CellHeight"
                              Width="this.CellWidth" Height="this.CellHeight" IsPartial="true" Direction="null"
                              IsFinish="false" />
                }
            </div>
        } else
        {
            <div class="d-flex flex-column align-self-stretch justify-center w-100">
                <div class="d-flex flex-column align-self-center">
                    <MudText Typo="Typo.h3" Class="ma-4">Creating the maze...</MudText>
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="ma-4" />
                </div>
            </div>
        }
    </div>
</div>
