<div class="d-flex flex-column align-self-stretch w-100">
    <div class="d-flex flex-row justify-space-between px-4 py-2 w-100 align-center" style="z-index: 1">
        <div class="row-side">
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack"
                       @onclick="this.BackToMainMenu">
                Go Back
            </MudButton>
        </div>

        <MudText Typo="Typo.h5">Darkness</MudText>

        <div class="row-side d-flex flex-row justify-space-between">
            @if (this.IsLoaded)
            {
                <div></div>
                <div class="d-flex flex-row align-center">
                    <MudText Typo="Typo.body1" Class="ma-2">@this.TimerText</MudText>
                    <MudIconButton Icon="@Icons.Material.Filled.Info" Color="Color.Secondary" Size="Size.Large"
                                   @onclick="this.ShowInfoDialog" />
                </div>
            }
        </div>
    </div>

    <div @ref="this.MazeWrapper" @onkeydown="this.OnKeyDown" tabindex="0" style="position: fixed"
         class="d-flex flex-column justify-center align-center flex-grow-1 w-100 h-100 pa-4 no-focus">
        @if (this.IsLoaded)
        {
            <MazeCanvas @ref="this.MazeCanvas" Settings="this.Settings" Maze="this.Maze" Finished="this.OnFinished" />
        } else
        {
            <div class="d-flex flex-column align-self-stretch justify-center w-100">
                <div class="d-flex flex-column align-self-center">
                    <MudText Typo="Typo.h3" Class="ma-4">Creating the maze...</MudText>
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="ma-4" />
                </div>
            </div>
        }
    </div>
</div>
