.container {
  display: grid;
  place-content: center;
}

::deep .title {
  margin-block: var(--spacing-4);
}

::deep .settings-form {
  margin-block-start: var(--spacing-4);
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    'width height'
    'show-finish show-finish';
  column-gap: var(--spacing-8);
  row-gap: var(--spacing-4);
}

@media (max-width: 650px) {
  ::deep .settings-form {
    grid-template-areas:
      'width width'
      'height height'
      'show-finish show-finish';
  }
}

::deep .mud-select:nth-of-type(1) {
  grid-area: width;
}

::deep .mud-select:nth-of-type(2) {
  grid-area: height;
}

::deep .show-finish-checkbox {
  grid-area: show-finish;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: var(--spacing-4);
  width: 100%;
}

.main-action-container {
  display: flex;
  flex-direction: row;
  gap: calc(var(--spacing-3) * 2);
}
