@page "/settings"
@inject ISettingsService SettingsService

<div class="d-flex flex-column justify-center align-center">
    <MudText Typo="Typo.h2" Class="ma-4">Settings</MudText>

    <div class="d-flex justify-between align-content-stretch">
        Still working on it.
    </div>
</div>

@code {

}
