<div>
    <MudDivider />

    <footer>
        <MudText>
            Powered by <MudLink Href="https://blazor.net" Target="_blank">Blazor</MudLink> and
            <MudLink Href="https://pages.github.com" Target="_blank">Github Pages</MudLink>.
        </MudText>

        <MudText>
            &copy; 2020 Anatoliy Pylypchuk.
            <MudLink Href="https://github.com/TolikPylypchuk/Darkness" Target="_blank">Source code</MudLink>
        </MudText>
    </footer>
</div>
