<div>
    <MudDivider />

    <footer class="pa-4">
        <div class="d-flex flex-md-row flex-column justify-md-space-between">
            <div class="flex-md-column align-self-md-center">
                <MudText>
                    Powered by <MudLink Href="https://blazor.net" Target="_blank">Blazor</MudLink> and
                    <MudLink Href="https://pages.github.com" Target="_blank">Github Pages</MudLink>.
                </MudText>
            </div>
            <MudText class="flex-md-column align-self-md-center">
                &copy; 2020 Anatoliy Pylypchuk.
                <MudLink Href="https://github.com/TolikPylypchuk/Darkness" Target="_blank">Source code</MudLink>
            </MudText>
        </div>
    </footer>
</div>
