.maze-wrapper {
    max-width: calc(100% - 50px);
    max-height: calc(100% - 100px);
    margin: auto;
    position: relative;
    flex-grow: 1;
}

.maze-cell {
    position: absolute;
}

.maze-cell-partial {
    position: absolute;
    opacity: 0.35;
}

.cell-wall {
    position: absolute;
}

.cell-wall-h {
    position: absolute;
    width: 90%;
    height: 5%;
    left: 5%;
}

.cell-wall-top {
    position: absolute;
    width: 90%;
    height: 5%;
    left: 5%;
    top: 0%;
}

.cell-wall-bottom {
    position: absolute;
    width: 90%;
    height: 5%;
    left: 5%;
    top: 95%;
}

.cell-wall-v {
    position: absolute;
    width: 5%;
    height: 90%;
    top: 5%;
}

.cell-wall-left {
    position: absolute;
    width: 5%;
    height: 90%;
    top: 5%;
    left: 0%;
}

.cell-wall-right {
    position: absolute;
    width: 5%;
    height: 90%;
    top: 5%;
    left: 95%;
}

.cell-corner {
    position: absolute;
    width: 5%;
    height: 5%;
}

.cell-corner-top {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 0%;
}

.cell-corner-bottom {
    position: absolute;
    width: 5%;
    height: 5%;
    top: 95%;
}

.cell-corner-left {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 0%;
}

.cell-corner-right {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 95%;
}

.animating {
    opacity: 0;
    animation: fadein 0.5s forwards;
}

.maze-controls {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
