<MudThemeProvider Theme="this.DarkTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="app-container">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <main>
                <MudText Typo="Typo.h1" Align="Align.Center">Darkness</MudText>

                <MudText Align="Align.Center" Class="subtitle">There's nothing at this address :(</MudText>

                <div class="action-container">
                    <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary"
                               Size="Size.Large" Href="/">
                        Go to the home page
                    </MudButton>
                </div>
            </main>

            <Footer />
        </NotFound>
    </Router>
</div>

@code {
    private MudTheme DarkTheme { get; } = new()
        {
            Palette = new()
            {
                Black = "#27272F",
                Background = "#32333D",
                BackgroundGrey = "#27272F",
                Surface = "#373740",
                DrawerBackground = "#27272F",
                DrawerText = "rgba(255,255,255, 0.50)",
                DrawerIcon = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272F",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#ADADB1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)"
            }
        };
}
