<MudThemeProvider Theme="this.DarkTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="d-flex flex-column h-100">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</div>

@code {
    private MudTheme DarkTheme { get; } = new()
        {
            Palette = new()
            {
                Black = "#27272F",
                Background = "#32333D",
                BackgroundGrey = "#27272F",
                Surface = "#373740",
                DrawerBackground = "#27272F",
                DrawerText = "rgba(255,255,255, 0.50)",
                DrawerIcon = "rgba(255,255,255, 0.50)",
                AppbarBackground = "#27272F",
                AppbarText = "rgba(255,255,255, 0.70)",
                TextPrimary = "rgba(255,255,255, 0.70)",
                TextSecondary = "rgba(255,255,255, 0.50)",
                ActionDefault = "#ADADB1",
                ActionDisabled = "rgba(255,255,255, 0.26)",
                ActionDisabledBackground = "rgba(255,255,255, 0.12)"
            }
        };
}
