name: GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Publish
      shell: bash
      run: |
        dotnet publish --configuration Release -p:PublishDir=build -p:GHPages=true

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: Darkness/build/wwwroot
        user_name: "Tolik Pylypchuk"
        user_email: "pylypchuk.tolik@gmail.com"
        commit_message: "Deploy to GitHub Pages"
        force_orphan: true
        cname: "darkness.tolik.io"
